@media only screen and (max-width: 1140px){

    .nav-list{
        flex-direction: column;
        line-height: 1.5;
    }

    .navbar{
        height: 500px;
        flex-direction: column;
        transition: all 1.3s ease-out;
        width: 100%;
        padding: 3px 0px;
    }

    .rightNav{
        text-align: center;
    }

    .btn-sm {
         padding: 6px 10px;
        vertical-align: middle;
        font-size: 16px;
        width: 72px;
    }

    .firstSection{
        height: 600px;
    }

    .logo{
        padding-top: 15%;
    }

    .logo img{
        width: 20%;
        border-radius: 20px;
        margin: auto;
    }

    .secondHalf{
        padding-right: 8%;
    }

    .secondHalf img{
        width: 70%;
        display: block;
        margin: auto;
    }

    .box-main{
        flex-direction: column-reverse;
    }

    #search{
        width: 100%;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 60px;
    }

    .v-class-resp{
        opacity: 0;
    }
    
    .form{
        width: 100%;
    }

    .section{
        flex-direction: column-reverse;
        width: 100%;
    }

    .text-small{
        text-align: center;
        font-size: 22px;
    }

    .text-big{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }
    
    .paras{
        text-align: center;
    }

    .browse{
        text-align: center;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        width: 100%;
    }

    #product2 .pro-container{
        justify-content: center;
    }

    #product2 .pro{
        width: 100%;
    }

    #product3 .pro-container{
        justify-content: center;
    }

    #product3 .pro{
        width: 100%;
    }
}