@import url('https://fonts.googleapis.com/css2?family-ubuntu&display-swap')
;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.checked {
    color: orange;
}

#product1 {
    text-align: center;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 40px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    flex-wrap: wrap;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 15px darkgrey;
    margin: 15px 0;
    transition: 0.5s ease;
}

#product1 .pro:hover{
    box-shadow: 7px 7px 15px grey;
}


#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#produdct1 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span{
    color: black;
    font-size: 12px;
}

#product1 .pro .des h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 8px 8px;
}

#product1 .pro .des h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 8px 8px;
}

#product1 .pro .cart{
    width: 50px;
    height: 20px;
    border-radius: 70px;
    background-color:bisque;
    color: black;
    border: 1px solid black;
}

#product1 .pro .cart:hover{
    color: white;
    background-color: black;
}

#product2 {
    text-align: center;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 40px;
    padding-top: 65px;
}

#product2 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    flex-wrap: wrap;
}

#product2 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 15px darkgrey;
    margin: 15px 0;
    transition: 0.5s ease;
}

#product2 .pro:hover{
    box-shadow: 7px 7px 15px grey;
}


#product2 .pro img {
    width: 100%;
    border-radius: 20px;
}

#produdct2 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product2 .pro .des span{
    color: black;
    font-size: 12px;
}

#product2 .pro .des h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 8px 8px;
}

#product2 .pro .des h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 8px 8px;
}

#product2 .pro .cart{
    width: 50px;
    height: 20px;
    border-radius: 70px;
    background-color:bisque;
    color: black;
    border: 1px solid black;
}

#product2 .pro .cart:hover{
    color: white;
    background-color: black;
}

#product3 {
    text-align: center;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 65px;
    padding-bottom: 40px;
}

#product3 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    flex-wrap: wrap;
}

#product3 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 15px darkgrey;
    margin: 15px 0;
    transition: 0.5s ease;
}

#product3 .pro:hover{
    box-shadow: 7px 7px 15px grey;
}


#product3 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product3 .pro .des{
    text-align: center;
    padding: 10px 0;

}

#product3 .pro .des span{
    color: black;
    font-size: 12px;
}

#product3 .pro .des h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 8px 8px;
}

#product3 .pro .des h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 8px 8px;
}

#product3 .pro .cart{
    width: 50px;
    height: 20px;
    border-radius: 70px;
    background-color:bisque;
    color: black;
    border: 1px solid black;
}

#product3 .pro .cart:hover{
    color: white;
    background-color: black;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    padding-left: 30px;
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col:hover{
    filter: brightness(65%);
    transition: 1.12s;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#prodetails .single-pro-details h4{
    padding: 20px 0 20px 0;
    font-size: 30px;
}

#prodetails .single-pro-details h6{
    font-size: 18px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    padding: 10px 20px;
    margin: 20px 20px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    background: none;
    color: black;
    cursor: pointer;
}

#prodetails .single-pro-details button:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
}

#prodetails .single-pro-details span{
    line-height: 25px;
}