@import url('https://fonts.googleapis.com/css2?family-ubuntu&display-swap')
;

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#cart {
    overflow-x: auto;
    height: 100vh;
    width: 100vw;
}

section.cart{
    margin-left: 70px;
    margin-right: 70px;
}

.cart-title{
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cart-box{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cart-price{
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cart-quantity{
    border: 1px solid black;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    color: black;
    cursor: pointer;
}

i.fa.fa-trash.cart-remove{
    width: fit-content;
}

.total{
    text-align: center;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.total-title{
    font-size: 30px;
    font-weight: 600;
}

.total-price{
    font-size: 25px;
    font-weight: 600;
}

.total-price{
    margin-left: 0.5rem;
}

.btn-buy{
    display: flex;
    margin: 40px auto 50px auto;
    padding: 12px 20px;
    border: 2px solid black;
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.btn-buy:hover{
    background: black;
    color: white;
}

#address h3{
    padding-bottom: 0px;
    padding-top: 20px;
}

#address input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid black;
}

#address{
    margin-bottom: 30px;
}

button{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 15px;
    background: none;
    color: black;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}


/*#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
}

#cart table thead{
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add {
    align-items: center;
    margin: 15px 40px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cart-add td{
    font-size: 15px;
    line-height: 25px;
}

#cart-add h3{
    padding-bottom: 18px;
}

#address h3{
    padding-bottom: 0px;
    padding-top: 20px;
}

#address input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid black;
}

#address{
    width: 50%;
    margin-bottom: 30px;
}

#cart-total {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 10px;
}

#cart-total table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#cart-total table td{
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    font-size: 13px
}

button{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 15px;
    background: none;
    color: black;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}*/